<div class="p-10">
    <h1 class="text-center">Share now!</h1>
    <div class="pt-5 flex gap-10">
        <div class="flex flex-col items-center space-y-2">
            <i class="fa fa-facebook-f text-4xl"></i>
            <p>Facebook</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
            <i class="fa fa-instagram text-4xl"></i>
            <p>Instagram</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
            <i class="fa fa-twitter text-4xl"></i>
            <p>Twitter</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
            <i class="fa fa-whatsapp text-4xl"></i>
            <p>Whatsapp</p>
        </div>
    </div>
</div>